name: Keep Streamlit Awake

on:
  schedule:
    - cron: "*/10 * * * *"   # tiap 10 menit
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping app
        run: curl -I https://bonusmalusideal.streamlit.app/
